@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SFUIText-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/SFUIText-RegularItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SFUIText-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/SFUIText-SemiboldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SFUIText-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/SFUIText-BoldItalic.woff') format('woff');
  font-display: swap;
}

:root {
  --text-xs: calc(0.6em + 0.5vw);
  --text-sm: calc(0.8em + 0.5vw);
  --text-md: calc(1em + 0.5vw);
  --text-lg: calc(2em + 0.5vw);
  --text-xl: calc(3em + 0.5vw);
  --text-xxl: calc(4em + 0.5vw);
  --text-xxxl: calc(5em + 0.5vw);
}

html {
  font-size: 12px;
}

a,
body,
div,
h1,
h2,
h3,
span,
p {
  font-family: 'SF UI', sans-serif;
  color: black;
}

.text-xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text-xxl {
  font-size: var(--text-xxl);
}

h2,
.text-xl {
  font-size: var(--text-xl);
}

h3,
.text-lg {
  font-size: var(--text-lg);
}

body,
.text-md {
  font-size: var(--text-md);
}

p,
.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

a,
.fa-bars,
.fa-times {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(63, 58, 58);
}
