@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SFUIText-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/SFUIText-RegularItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SFUIText-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/SFUIText-SemiboldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SFUIText-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SF UI';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/SFUIText-BoldItalic.woff') format('woff');
  font-display: swap;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

.text-xxxl {
  @include fluid-type(font-size, 20em, 75em, 2em, 2.2em);
}

h1,
.text-xxl {
  @include fluid-type(font-size, 20em, 75em, 1.8em, 2em);
}

h2,
.text-xl {
  @include fluid-type(font-size, 20em, 75em, 1.6em, 1.8em);
}

h3,
.text-lg {
  @include fluid-type(font-size, 20em, 75em, 1.4em, 1.6em);
}

body,
.text-md {
  @include fluid-type(font-size, 20em, 75em, 1.2em, 1.4em);
}

p,
.text-sm {
  @include fluid-type(font-size, 20em, 75em, 1em, 1.2em);
}

.text-xs {
  @include fluid-type(font-size, 20em, 75em, 0.8em, 1em);
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

a,
.fa-bars,
.fa-times {
  cursor: pointer;
}
